@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Questrial&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Mono&display=swap');

body {
    margin: 0;
    background-image: url('images and stuff/line\ with\ dots\ on\ it.png');
    background-repeat: no-repeat;
    background-position: 10%, 0%;
    background-size: 100vw, 100vh;
    background-color: #494949;
    
}
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
    position: fixed;
    background-color: #2b2b2b;
    top: 0;
    filter: drop-shadow(0 3px 7px black)
}
nav a {
    text-decoration: none;
    color: #959595;
    padding: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    transition: .3s ease-in-out;  
}
nav a:hover {
    color: white;
}
.active {
    color: white;
    font-weight: 400;
}
.active:hover {
    color: #959595;
}
.main {
    text-align: center;
    height: 87vh;    
    text-transform: uppercase;
    display: block;
    /* align-items: center; */

}
.process {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 50px;
    font-weight: 200;
    margin: auto;
    margin-top: 6rem;
}
.process-container {
    margin-top: 5rem;
}
.step-1 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    width: 9rem;
    margin-left: 370px;

}
.step-2 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    width: 12rem;
    margin-left: 700px;
    margin-top: -0px;
}
.step-3 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    width: 12rem;
    margin-left: 130px;
    margin-top: -180px;
}
.step-4 {
    color: white;
    font-family: 'Source Code Pro', monospace;
    margin-left: 1200px;
    width: 9rem;
    margin-top: -260px;
    
}
.text {
    color: #b1b1b1;
}





footer {
    margin-top: -3.5rem;
}
footer ul a {
    color: #959595;
    text-decoration: none;
    font-family: 'Questrial', sans-serif;
    transition: .4s ease-in-out;
}
footer ul a:hover {
    color: white;
    text-shadow: white 0 0 15px;
    
}
footer ul a img {
    height: 16px;
    filter: invert(58.5%);  
    margin: 0 10px 0 25px;
}
